{% extends "mainApp/wrapper.html" %}

{% block title %}
    <title>Player</title>
{% endblock %}
{% block content %}
    <div id="vid" class="container" align="center">
        <div id="video_wrapper" style="background-color:transparent;width:700px;height:393px;overflow:hidden;padding:0;">
            <div id="videoCDN-player"><iframe src="//96.videocdn.pw/CtpKt94RDwED/tv-series/3864" width="700" height="393" frameborder="0" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe></div>
        </div>
    </div>
{% endblock %}